.footer-powered { display: none !important; }

.web-footer {
    padding: 3rem 0;
    min-height: 140px;
    background-color: var(--fg-color);
    border-top: 1px solid #e2e2e2;
    margin-top: auto;
    display: none;
  }